h1, h2, h3, h4, h5, h6, p, a{
    font-family: $primary-font;
}

a{
    color: $primary-blue-color;
    text-decoration: none;
}

a:hover{
    opacity: 0,7;
    text-decoration: none;
}

a:visited{
    color: $primary-blue-color;
    text-decoration: none;
}

h1{
    @include general-header-styles;
    font-size: 1.5em;
}

h2{
    @include general-header-styles;
    font-size: 1.25em;
}

h3{
    @include general-header-styles;
    font-size: 1.25em;
}