/* HEADER - Site branding - Site navigation */
$translate: 10px;
$minusTranslate: -10px;

#masthead {
  flex-wrap: nowrap !important;
  box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0), 0 3px 12px 0 rgba(0, 0, 0, 0.29);
  padding: 0rem 1rem;

  ul {
    list-style-type: none;
    margin-bottom: 0px;

    li {
      display: inline;
      margin-top: auto;
    }
  }

  .container {
    display: inline;
    .row {
      max-width: 1024px;
      margin: auto;
    }
    .navbar-brand {
      order: 1;
      flex-grow: 3;
      display: flex;
      align-items: center;

      .custom-logo {
        max-width: 115px;
        max-height: 115px;
      }
    }
    #top-navigation {
      order: 3;
      flex-grow: 2;
      background-color: $primary-blue-color;
      height: 50px; // (2 x 15px padding) + 20px height for icon
      display: flex;
      justify-content: space-around;
      align-items: center;

      #top-menu {
        display: flex;
      }

      ul {
        display: flex;
        align-items: baseline;
        margin-bottom: 0px;
      }

      .menu-item a {
        color: $white;
        padding-left: 2.5px;
        padding-right: 2.5px;
      }
      .menu-item a:hover {
        opacity: 0.5; //Find en bedre løsning HER!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
      }

      .menu-item-type-search {
        -webkit-transition: all 0.6s ease;
        -moz-transition: all 0.6s ease;
        transition: all 0.6s ease;
      }

      .search-field {
        position: absolute;
        margin-left: -215px;
        padding: 5px;
        margin-top: -15px;
        width: 215px;
        height: 30px;
        -webkit-transition: all 0.6s ease;
        -moz-transition: all 0.6s ease;
        transition: all 0.6s ease; //Find en løsning HER!!!!!!!!!!!!!!!!!!!!!
        display: none;
      }

      .search-submit {
        margin-left: 5px;
        background-image: url("template-parts/icons/Search-icon.png");
        color: transparent;
        border: none;
        background-color: $primary-blue-color;
        width: 20px;
        height: 20px;
        background-size: 20px 20px;
        cursor: pointer;
      }
    }

    #site-navigation {
      order: 4;
      width: 100%;
      padding-top: 20px;

      .menu-primaere-container {
        width: 100%;

        #primary-menu {
          display: flex;
          .menu-item a:hover {
            opacity: 0.5; //Find en bedre løsning HER!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
          }

          :nth-child(n + 2) {
            margin-left: 10px;
          }
          :last-child {
            margin-left: auto;
          }
          .menu-item-has-children {
            position: relative;
            display: inline-block !important;

            .sub-menu {
              display: none;
              position: absolute;
              background-color: $white;
              z-index: 99;
              padding: 5px;
              width: 200px;

              li {
                display: block;
                padding: 5px 0;
                margin-left: 0 !important;
              }
            }
          }
          .menu-item-has-children:hover * {
            display: block !important;
          }
          .sub-menu:hover {
            display: block;
          }
        }
      }
    }
    #navbar-toggler {
      order: 2;
      border: none;
      background: none;
      display: none;

      .line {
        width: 25px;
        height: 2px;
        background-color: $primary-blue-color;
        display: block;
        margin: 8px auto;
        -webkit-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
      }
    }
    .is-active .line:nth-child(2) {
      opacity: 0;
    }
    .is-active .line:nth-child(1) {
      -webkit-transform: translateY($translate) rotate(45deg);
      -ms-transform: translateY($translate) rotate(45deg);
      -o-transform: translateY($translate) rotate(45deg);
      transform: translateY($translate) rotate(45deg);
    }
    .is-active .line:nth-child(3) {
      -webkit-transform: translateY($minusTranslate) rotate(-45deg);
      -ms-transform: translateY($minusTranslate) rotate(-45deg);
      -o-transform: translateY($minusTranslate) rotate(-45deg);
      transform: translateY($minusTranslate) rotate(-45deg);
    }
  }
}

.redBtn {
  background-color: $secondary-red-color;
  padding: 10px 50px;
  font-weight: 800;
  font-size: 1.2em;
  text-align: center;

  :hover {
    opacity: 0.7;
  }

  a {
    color: $white;
  }
}

//FOOTER styling
#colophon {
  background-color: $primary-blue-color;
  color: $white;

  p {
    margin-bottom: 0.3rem;
  }

  ul {
    list-style-type: none;
  }

  .elementor-section-wrap{
    margin-bottom: -1em;
  }

  #footer-menu {
    margin-top: 12px;

    h5 {
      margin-bottom: 0px;
    }
  }

  .menu-footer-menu-container a {
    color: $white;
    font-size: 12px;

    a:visited {
      color: $white;
    }
  }

  .elementor-widget-text-editor {
    font-family: $primary-font;
  }

  .elementor-widget:not(:last-child) {
    margin-top: 15px;
    margin-bottom: 5px;
  }

  .elementor-widget-heading .elementor-heading-title {
    font-family: $primary-font;
  }
}
