@media only screen and (max-width: 1024px){
    .container{
        padding: 0 1rem;
    }
}

@media only screen and (max-width: 767px){

    h1{
        font-size: 1em;
    }

    /* Overwrite some styles for WP Show post plugin */
    .wp-show-posts-image.wpsp-image-left, .wp-show-posts-image.wpsp-image-right {
        float: left;
        margin-right: 1.5em;
    }

    #masthead{
        padding: 0.5rem 1rem;
        .container{

            .navbar-brand {
                flex-grow: 5;
          
                .custom-logo {
                  max-width: 60px !important;
                  max-height: 60px !important;
                }
    
                .site-title{
                    display: none;
                }
            }
            #top-navigation{
                display: none;
                order: 4;
                flex-grow: 0;
                height: auto;
                width: 100%;
                padding: 0;
                margin-top: 0px;

                #top-menu {
                    display: none; //HVORFOR VIRKER DET IKKE??????
                }
            }
            #site-navigation{
            display: none;
            order: 3;
            -webkit-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out; //Hvorfor virker det ikke??

            ul{
                display: flex;
                flex-direction: column;
            }

            .menu-primaere-container #primary-menu{
               :nth-child(n){
                    margin-left: 0px;
                }

                .redBtn{
                    margin-left: 0px;
                    margin-top: 20px;
                }

              .menu-item-has-children .sub-menu{
                    display: block;
                    position: inherit;
                    padding: 0 0 0 15px;
                    margin-top: 0;
                    width: 100%;
                }  
            }

            
            }
            #navbar-toggler{
                display: block !important;
                flex-grow: 1;
            }
        }
        
    }
    
}