//General styles
* {
    margin: 0;
    padding: 0;
}

.container{
    max-width: 1024px;
    margin: auto;
    padding: 0 0;

    .row{
        margin-left: 0;
        margin-right: 0;
    }
}


// Mix in for styles for Headings (color and weight)
@mixin general-header-styles {
    font-weight: 800;
    color: $primary-blue-color;
}