// General styling
// body {
//   font-family: $primary-font;
// }

#breadcrumbs {
  text-align: right;
}

// Changes max-width for boxed containers
.elementor-section-wrap {
  margin-bottom: 1em;
}
.elementor-section-boxed {
  max-width: $max-width !important;
  margin: auto;

  .elementor-container {
    max-width: $max-width !important;
  }
}

.entry-header {
  .container {
    border-bottom: 1px solid $dark-grey;

    .row {
      padding-top: 25px;
      align-items: flex-end;
    }
  }
}

// Frontpage styles
// Removes entry-title from frontpage
.page-id-27 {
  .entry-header {
    display: none;
  }
  #masthead {
    margin-bottom: 25px;
  }
}

// Styles for WP Show posts
.wp-show-posts {
  .wp-show-posts-single {
    .wp-show-posts-inner {
      border-bottom: 0.5px solid $primary-blue-color;

      .wp-show-posts-image {
        :hover {
          opacity: 0.7;
        }
      }

      .wp-show-posts-entry-header {
        .wp-show-posts-entry-title {
          :hover {
            opacity: 0.7;
          }
        }
      }

      .wp-show-posts-entry-summary {
        margin-bottom: 1em;

        p {
          font-size: 0.8em;
          color: $dark-grey;
        }
      }
    }
  }
}

// Styles for "medlem page"
#medlem-card .elementor-column-wrap.elementor-element-populated {
  border: 0.5px solid #707070;
  margin: 5px;
  box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.2);
}

// Styles for contact page
#CF5eb840f457069_1-row-3 input {
  color: $white;
  background-color: $primary-blue-color;
  font-family: $primary-font;
  font-weight: 500;
  font-size: 15px;
  border: 0px;
  border-radius: 38px;
  padding: 10px 20px;
}

// Styles for gallery page
.gallery-item {
  padding-bottom: 5px;
}

//Styles for Search result page
.readMoreButton {
  fill: $white;
  color: $white;
  background-color: $primary-blue-color;
  border-radius: 38px 38px 38px 38px;
  padding: 12px 24px;
}
.searchResult {
  .entry-summary {
    color: $dark-grey;
  }
  .entry-footer {
    border-bottom: 0.5px solid $primary-blue-color;
    margin-bottom: 1em;
    padding-bottom: 1em;
  }
}
