/* STYLES FOR POSTS */
.post-site{
    margin-top: 25px;
    padding: none !important;

    .post-header{
        margin: 25px 0;

        .entry-meta{
            color: $dark-grey;
        }
    }

    .post-thumbnail img{
        width: 100%;
        height: auto;
    }
}

/* STYLES FOR SIDEBAR */
.sidebar{
   /* Change margin bottom from news in sidebar */
    .wp-show-posts:not(.wp-show-posts-columns) .wp-show-posts-single:not(:last-child) {
        margin-bottom: 1em;
    }

    .widget_categories{
        margin-top: 25px;
      ul{
        list-style: none;
        
        li a:hover{
            color: $primary-blue-color;
        }
      }  
    }
}
