// TABLE CONTENT 

//    - Typografi
//    - Font sizes
//    - Colors
//    - Size dimensions
//    - Overall classes



// TYPOGRAFI 
$primary-font: 'Montserrat', sans-serif;

//FONT SIZES
$top-menu-items: '24px'; //Skal nok ændres så det er h4 størrelse

// COLORS
$primary-blue-color: #1D3060;
$secondary-red-color: #991F08;
$black: #000000;
$white: #FFFFFF;
$dark-grey: #54595F;

// SIZE DIMENSIONS 
// Max width for containers
$max-width: 1024px;

// Media Queries sizes
$tablet-width: 768px;
$landscabe-phone-width: 480px;
$portrait-phone-width: 320px;


//Overall classes
.container {
    max-width: $max-width;
    margin: auto;
}